h1 {
    font-weight: bold;
    font-size: 40px;
}

a {
    background-color:  #A9A7D6;
    color: black;
    font-weight: bold;
    font-family:'Montserrat', sans-serif;
    opacity: 0.75;
}

.wrapper {
    background:#6362627a;
    opacity: 0.75;
}
/****** Sophisticated - Colour Strategy: One Colour - Location: Index Page*******/
    /*use index page and inheritance*/

.h1s {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.divS {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600px;
    padding-bottom: 50px;
}

.bodyS {
    background-image:url(./../Photos/bloom-blossom-flora-971360.jpg);  

}

/***** Energetic - Colour Strategy: Analogous - Location: Page 2*****/

.divE {
    font-family: 'Noto Sans JP', sans-serif;
}
.pE {
    color: white;
    border-left-style: solid;
    border-top-style: solid;
    border-width: 3px;
    border-color: #dc4735;
    padding: 0 10px;
    opacity: 1;
}
.backgroundE {
    background-image: url(../Photos/pexels-photo-1328891.jpeg);
}
.h1e {
    color: orange;
    text-shadow: 5px 0 0 #dc4735;
}
.h2e {
    color: #ff7af4;
    text-shadow: 3px 1px 1px black;
}
/***** Relaxed - Colour Strategy: Complementary - Location: Page 3****/
/*green & pink/fucia*/

.pR {
    font-family: 'Overlock', cursive;

}




/* Corporate - Colour Strategy: Triad - Location: Page 4*/

/* Fun - Colour Strategy: Split Complementary -Location: Page 5*/