/* * * * * * * * * * * * * * * * * * * * *
General
* * * * * * * * * * * * * * * * * * * * */

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}






/* * * * * * * * * * * * * * * * * * * * *
Header
* * * * * * * * * * * * * * * * * * * * */
header {
    background-color: transparent;
}

.logo {
    width: 150px;
    color: peru;
    margin-right: auto;
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.2em;

}

.logo span {
    margin-left: 10px;
}

header ul {
    margin-bottom: 0;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

header ul li {
    list-style: none;
}

header ul li a {
    height: 66px;
    padding: 0 10px;
    color: rgb(150, 112, 73);

    display: flex;
    align-items: center;
}

header ul li a:hover {
    background: #ffc26c94; 
    text-decoration: none;
    color: black;
}


/* * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * */
.hero {
    height: 700px;
    background-image:  
        linear-gradient(
        90deg, 
        rgba(0, 0, 0, 0.4), 
        rgba(0,0,0,0)), 
        url(../Pictures/charlie-costello-301722-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    color: peru;
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
}


.hero-content {
    width: 50%;
    background: white;
    padding: 20px;
    opacity: 0.85;
}

.hero h1 {
    font-family: 'Tangerine', cursive;
    font-size: 4em;
    margin: 0;
    font-weight: 700;
}

.hero hr {
    border-color:#291a04;
    margin-top: 0;
}

.hero button {
    color: white;
    border: none;
    background: #ef7547;
    margin-top: 10px;
    padding: 5px 10px;
}

.hero button:hover {
    cursor: pointer;
    background: #f18a64;
}

@media (max-width: 600px) {
    .hero {
        height: 400px;
    }
    .hero-content {
        width: 100%;
    }
}



/* * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * */
main {
    min-height: 500px;
    padding: 80px 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.box1, .box2, .box3 {
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
    padding-top: 50px;
    margin-right: 10px;
    box-shadow: 0px 10px 20px 0px grey;
}


.box1 {
    background-image: linear-gradient(
        180deg, 
        rgba(0,0,0,0.4), 
        rgba(0,0,0,0)), 
        url(../Pictures/kira-auf-der-heide-330895-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.box1:hover {
    opacity: 0.8;

}

.box2 {
    background-image: linear-gradient(
        180deg, 
        rgba(0,0,0,0.4), 
        rgba(0,0,0,0)), 
        url(../Pictures/rana-sawalha-364253-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.box2:hover {
    opacity: 0.8;

}

.box3 {
    background-image: linear-gradient(
        180deg, 
        rgba(0,0,0,0.95), 
        rgba(0,0,0,0)), 
        url(../Pictures/chris-coe-425129-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.box3:hover {
    opacity: 0.8;

}

.paragraph {
    padding: 20px 20px 80px 20px;
    
}

main p {
    padding-top: 15px;

}

/* * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * */
footer {
    height: 200px;
    background:#432b07;
    font-family: 'Open Sans', sans-serif;
}

.social-media {
    list-style: none;
    display: flex;
    flex-direction: row;
    background: pink;
}

footer p {
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    font-weight: bold;
    color: white;
}